@import "styles/variables.scss";

.wr {
  padding-top: 58px;
  @include laptop {
    padding-top: 5vw;
  }
  & header {
    margin-bottom: 155px;
    @include laptop {
      margin-bottom: 10vw;
    }
    & > h1 {
      margin: 0 auto 32px;
      width: 35%;
      @include laptop {
        margin-bottom: 4vw;
      }
    }
    & > p {
      margin: 0 auto 8px;
      width: 80%;
      @include jb4;
      font-size: 44px;
      line-height: 125%;
      text-align: center;
      letter-spacing: -0.01em;
      text-transform: uppercase;
      color: $text6;
      @include laptop {
        font-size: 2.78vw;
      }
    }
    & > .links {
      margin-bottom: 121px;
      height: 80px;
      border: 1px solid $text1;
      border-top: none;
      @include laptop {
        height: 10vw;
        margin-bottom: 9vw;
      }
      & > ul {
        transform: translateY(50%);
        align-items: center;
        justify-content: center;
        width: 50%;
        margin: 0 auto;
        background-color: $bg;
        gap: 3px;
        @include laptop {
          transform: translateY(150%);
        }
        & > div {
          margin-right: 0;
          &:first-child {
            transform: translateX(30%);
          }
          &:nth-child(3) {
            transform: translateX(-30%);
          }
          &:last-child {
            transform: translateX(-60%);
          }
        }
        &:hover {
          & > div {
            transform: translateX(0);
          }
        }
      }
    }
    & > .authors {
      padding: 27px 68px;
      border-left: 1px solid $text1;
      border-right: 1px solid $text1;
      & figure:nth-child(2) {
        & figcaption {
          max-width: 168px;
        }
      }

      & > ul {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 36px;
        @include laptop {
          gap: 3vw;
          justify-content: space-around;
        }
        & > figure {
          display: flex;
          align-items: center;
          height: 100%;
          gap: 24px;
          & > div {
            height: 100%;
          }
          @include laptop {
            gap: 2vw;
          }
        }
        & figcaption {
          max-width: 219px;
          @include text;
          @include jb5;
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          gap: 12px;
          @include laptop {
            max-width: 15vw;
          }

          & > span:first-child {
            margin-bottom: 4px;
            text-transform: uppercase;
          }
          & > span:last-child {
            color: $text2;
          }
        }
      }
    }
  }
  & main {
    margin-bottom: 174px;
    @include laptop {
      margin-bottom: 15vw;
    }
    & h2 {
      @include text;
      margin-bottom: 42px;
      text-transform: uppercase;
      color: $text2;

      @include laptop {
        margin-bottom: 5vw;
      }
    }
    & .nagrady {
      display: flex;
      align-items: center;
      gap: 26px;
      height: 56px;
      margin-bottom: 42px;
      & a {
        display: block;
        padding: 7.5px;
        transition: background-color 0.3s;
        border-radius: 9px;
        &:hover {
          background-color: rgba(255, 255, 255, 0.06);
        }
        &:active,
        &:focus {
          background-color: $text1;
        }
      }
      @include laptop {
        height: 5vw;
        margin-bottom: 5vw;
      }
    }
    & .nominacyy {
      border-top: 1px solid $text1;
      display: flex;
      align-items: flex-start;
      flex-direction: column;

      & li {
        padding: 15px 4px;
        display: flex;
        align-items: center;
        border-bottom: 1px solid $text1;
        transition: background-color 0.3s;
        &:hover {
          background-color: rgba(255, 255, 255, 0.03);
        }
        &:active,
        &:focus {
          background-color: $text1;
        }
        @include laptop {
          padding: 1vw 1px;
        }
        & > div {
          height: 34px;
          width: auto;
          aspect-ratio: 16/9;
          @include laptop {
            height: 5vw;
          }
          & img {
            object-fit: contain;
          }
        }
        & span {
          margin-right: 32px;
          @include text;
          @include link-hover;
          color: $text4;
          @include laptop {
            margin-right: 3vw;
          }
        }
        & p {
          margin-right: 24px;
          @include text;
          color: $text2;
          @include laptop {
            margin-right: 2vw;
          }
        }
      }
    }
    & button {
      padding: 20px 0;
      width: 100%;
      @include text;
      @include link-hover;
      color: $text2;
      text-transform: uppercase;
      border-bottom: 1px solid $text1;
      &:disabled {
        display: none;
      }
    }
  }
  & footer {
    border-left: 1px solid $text1;
    border-right: 1px solid $text1;
    padding-left: 23px;
    padding-bottom: 23px;
    & > h2 {
      @include text;
      color: $text2;
      text-transform: uppercase;
    }
  }
}
