@import "styles/variables.scss";

#contactForm {
  & .Mui-checked ~ span {
    color: #1c1c1c;
    background-color: $text4;
    border-color: transparent;
  }
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 100px $bg inset !important;
  -webkit-text-fill-color: white !important;
  @include text;
}

.tabs {
  & .Mui-selected {
    color: $text6 !important;
  }
}
